<div class="mainDiv">
    <h1>TODO list</h1>
    <button mat-raised-button color="primary" (click)="toggleAddItemVisible()">Add item</button>

    <div class="addItemWrapper">
        <app-todo-list-add-item *ngIf="addItemVisible" (addTask)="addTask($event)"></app-todo-list-add-item>
    </div>

    <app-todo-list></app-todo-list>

    <br/>
    <br/>
    <br/>

    <app-template-demo [topTemplate]="top" [bottomTemplate]="bottom" [stringList]="stringList">
        <ng-template #top>
            <span>Top part</span>
        </ng-template>
        <ng-template #bottom let-text>
            <span style="color: blue;">{{text}}</span>
        </ng-template>
    </app-template-demo>
</div>